<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#"> Car Insights </a>

    <div class="navbar">
      <ul class="nav-bar-style">

        <li *ngFor="let route of Routes">
            <a 
                class="nav-link cursor-pointer" 
                (click) = "SelectedRouteChanged(route)"
                [class.text-light]="route.IsSelected"
                [class.text-secondary]="!route.IsSelected"> 
                    {{ route.Name }} 
            </a>
        </li>
      </ul>
    </div>
  </nav>