@import "~bootstrap/scss/bootstrap";

.cursor-pointer {
    cursor: pointer;
}

ul.nav-bar-style{
    list-style-type: none;
    display: contents;
}

.selected-item-style {
    @extend .border;
    @extend .rounded;
    @extend .text-light;
}